/* widescreen.css */
/* Styl pro velké obrazovky (min-width: 1200px) */
@media only screen and (min-width: 1200px) {
    .header {
        padding: 30px;
    }
    .hero {
        padding: 200px 0;
    }
    .hero h1 {
        font-size: 64px;
    }
    .hero p {
        font-size: 32px;
    }
    .content-section {
        max-width: 1000px;
        margin: auto;
    }
    .game-showcase {
        max-width: 800px;
        margin: 20px auto;
    }
    table {
        max-width: 800px;
    }
}